body{
    background-color: greenyellow;
}
h1 {
    text-align: center;
}
img {
    margin-top: 20px;
    margin-left: 530px;
    margin-right: 300px;
}
p {
    color: #e71717;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: mediuml;
}
img{align-self: center;
}
#first{
    align-self: center;
}
